<div class="container">
  <div class="pt-3 pb-1">
    <h2 class="display-5">{{ post().title }}</h2>
    <div class="pt-1">
      <div class="pb-1">
        <span class="me-2">
          <i class="fa fa-user"></i> <strong>{{ post().authorName }}</strong>
        </span>
        <span class="me-2">
          <i class="fa fa-calendar"></i> <strong>{{ post().createdAt | date }}</strong>
        </span>
        @if (post().categoryName) {
          <span class="me-2">
            <i class="fa fa-folder"></i> <strong>{{ post().categoryName }}</strong>
          </span>
        }
      </div>
      <div class="post-actions">
        <div class="pt-2">
          @if (canEdit()) {
            <a
              class="btn btn-outline-primary"
              href="#"
              [routerLink]="['/posts', post().slug, 'edit']"
              title="Edit Post"
            >
              <i class="fa-solid fa-pen-to-square"></i>
              <span>Edit Post</span>
            </a>
          }
        </div>
      </div>
    </div>
    <div class="pt-2 pb-2">{{ post().content }}</div>
  </div>
  <hr />
  <div>
    <h3 class="h3">Comments:</h3>

    <form
      class="card p-4"
      id="commentForm"
      method="post"
      [formGroup]="commentForm"
      (ngSubmit)="createComment()"
    >
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter Name"
          name="name"
          formControlName="name"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
          name="email"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Comment</label>
        <textarea
          class="form-control"
          id="content"
          placeholder="Enter comment"
          rows="8"
          name="content"
          formControlName="content"
        ></textarea>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="commentForm.invalid">
          Submit
        </button>
      </div>
    </form>

    @if (post().comments.length == 0) {
      <div class="card p-4 mt-3">
        <p class="h2">No comments yet!</p>
      </div>
    }
    @for (comment of post().comments; track comment) {
      <div class="card p-4 mt-3">
        <div>
          <p>
            <b>Name : </b><strong>{{ comment.name }}</strong>
          </p>
          <p>
            <b>Date: </b><span>{{ comment.createdAt | date }}</span>
          </p>
          <p class="pt-1">{{ comment.content }}</p>
        </div>
      </div>
    }
  </div>
</div>
