<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link"
         href="#" [routerLink]="['/posts']"
         [queryParams]="{
      page: postsResponse().currentPageNo - 1,
      query: query()}"
         [ngClass]="{'disabled': !postsResponse().hasPreviousPage}"
      >Newer Posts</a>
    </li>
    <li class="page-item">
      <a href="#" class="page-link"
         [routerLink]="['/posts']" [queryParams]="{
      page: postsResponse().currentPageNo + 1 ,
      query: query()}"
         [ngClass]="{'disabled': !postsResponse().hasNextPage}"
      >Older Posts</a>
    </li>
  </ul>
</nav>
